<%- include("partials/header"); -%>
    <h1>About</h1>
    <h2 style="color:yellow;"> <%= aboutContent %> </h2>
    <h2 style="color:yellow;">~The Great Leaner Team</h2>
<%- include("partials/footer"); -%>
