<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <!-- <p> <%= contactContent %> </p> -->
    <h2 style="color:#00EAD3">Email</h2>
    <h3 style="color:yellow">greatlearning25@gmail.com</h3>
    <br>
    
<%- include("partials/footer"); -%>
